body{
    background-color: black;
    color: aliceblue;
}

tr{
    color: aliceblue;
}


a{
    color: orangered;
}

a:hover{
    text-decoration: none;
    color: brown;
}

.td{
    color:orangered;
}