<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
		xmlns:sec="http://www.thymeLeaf.org/thymeLeaf-extras-springsecurity5"
		>

<head>
	<meta charset="UTF-8">
	<title>Add response</title>
  <link rel="stylesheet" th:href="@{/css/add_response.css}" />
  
</head>

<body>

	<div class="text-center">
		<h2><a th:href="@{/main}">Main Site</a></h3>
	</div>
	
		<div>
			<h1 class="add"> Add Response </h1>
		</div>

    <div class="container">
		<form th:action="@{/upload_response/{id}(id=${post2.id})}" method="post" th:object="${post2}">

			<div class="field">
				<label class="response" >Response: </label>
				<div>
					<input  type="text" class="input" th:value="${sourceText}" name="sourceText" required minlength="2" maxlength="500" />
				</div>
			</div>
			
			<div class="btn">
			<button type="submit">Upload Response</button>
			</div>
	</form>
	</div>


</body>

</html>