<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
		xmlns:sec="http://www.thymeLeaf.org/thymeLeaf-extras-springsecurity5"
		>

<head>
	<meta charset="UTF-8">
	<title>Registeration</title>
	<link rel="stylesheet" th:href="@{/css/create_post.css}" />

</head>

<body>
	<div class="container">
		<form th:action="@{/upload_post}" method="post" th:object="${post1}" <div class="m-3">
			<h1> Create Post </h1>

		
			
			<div class="field">
				<label class="title">Title: </label>
				<div>
					<input type="text" class="form-control title" th:field="*{Title}" required minlength="2"
						maxlength="100" />
				</div>
			</div>
			
			<div class="field">
				<label class="des">Description: </label>
				<div>
					<input type="text" class="form-control des" th:field="*{Description}" required minlength="2"
						maxlength="500" />
				</div>
			</div>

			<div>
				<label>Category:</label>
				<select class="select" th:field="*{Category}">
				<option th:value="'Category_1'" th:text="Category_1"></option>
    			<option th:value="'Category_2'" th:text="Category_2"></option>
				<option th:value="'Category_3'" th:text="Category_3"></option>
				<option th:value="'Category_4'" th:text="Category_4"></option>
				<option th:value="'Category_5'" th:text="Category_5"></option>
				</select>
			</div> 

			<div class="button">
				<button type="submit" class="btn btn-primary">Upload Post</button>
			</div>
	</div>
	</form>
	</div>

</body>

</html>