<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>

    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>
    <div class="container text-center">
        <div class="title">
            <h1> Public Griveance Program</h1>
        </div>

        <div class="buttons">
        <div sec:authorize="isAnonymous()">
            <h2><button class="register"><a th:href="@{/register}">Register</a></button></h2></div>

        <div sec:authorize="isAnonymous()">
            <h2><button class="login"><a th:href="@{/login}">Login</a></button></h2>
        </div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <h2><button><a th:href="@{/main}">Main Site</a></button></h2>
        </div>

        <div sec:authorize="isAuthenticated()">
            <h2><button><a th:href="@{/logout}">Logout</a></h2></button>
        </div>

    </div>
</body>

</html>